body{
margin:0;
font-family:Arial, sans-serif;
color:#FFD90F;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#000000cc;
}

nav h1{
font-size:32px;
color:#FFD90F;
text-shadow:-3px -3px 0 #000,3px -3px 0 #000,-3px 3px 0 #000,3px 3px 0 #000;
}

.menu a{
color:#FFD90F;
margin-left:20px;
text-decoration:none;
font-size:18px;
font-weight:bold;
text-shadow:-2px -2px 0 #000,2px -2px 0 #000,-2px 2px 0 #000,2px 2px 0 #000;
}

/* HERO */

.hero{
height:90vh;
background:url("/static/images/fondo.jpg") center/cover no-repeat;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:70px;
margin-bottom:20px;
text-shadow:-4px -4px 0 #000,4px -4px 0 #000,-4px 4px 0 #000,4px 4px 0 #000;
}

.hero p{
font-size:24px;
margin-bottom:30px;
text-shadow:-3px -3px 0 #000,3px -3px 0 #000,-3px 3px 0 #000,3px 3px 0 #000;
}

.boton{
background:#FFD90F;
color:black;
padding:15px 35px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
font-size:18px;
transition:0.3s;
}

.boton:hover{
background:#ffea00;
transform:scale(1.1);
}

/* TRIVIA */

.trivia-bg{
height:90vh;
background:url("/static/images/trivia.jpg") center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
}

.trivia-container{
background:rgba(0,0,0,0.65);
padding:40px;
border-radius:15px;
text-align:center;
}

/* MEMORY */

.memory-bg{
height:90vh;
background:url("/static/images/memory.jpg") center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
}

.memory-container{
background:rgba(0,0,0,0.7);
padding:40px;
border-radius:15px;
text-align:center;
}

/* TABLERO */

#memory-board{
display:grid;
grid-template-columns:repeat(4,120px);
gap:15px;
margin-top:30px;
justify-content:center;
}

/* CARTAS */

.memory-card{
width:120px;
height:120px;
background:#FFD90F;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
font-size:20px;
border-radius:10px;
cursor:pointer;
color:black;
overflow:hidden;
}

.memory-card img{
width:100%;
height:100%;
object-fit:cover;
}

.memory-card:hover{
background:#ffea00;
}

#memory-result{
margin-top:20px;
font-size:35px;
text-shadow:-3px -3px 0 #000,3px -3px 0 #000,-3px 3px 0 #000,3px 3px 0 #000;
}